// Profile Video Hover Effect

.profile-image-container {
  position: relative;
  width: 100%;

  .profile-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  &:hover .profile-video {
    opacity: 1;
  }
}
